/////font configurations/////
$font-name: 'Raleway';
$font-base-path: 'fonts/';
////////////////////////////

/////functions for managing fonts/////
@function fontPath($style){
  @return $font-base-path + $font-name + '/' + $font-name + '-'+ $style + '.ttf';
}

@mixin addFont($style){
  @font-face{
   font-family: 'Font-' + $style;
   src: url(fontPath($style));
  }
}

@include addFont('Regular');
@include addFont('Thin');
@include addFont('Bold');

@mixin setFont($style){
  font-family: 'Font-' + $style;
}
////////////////////////////////////

body{
	@include setFont('Regular');
	background-color:#F0F0F0;
	font-size: 90%;
}

.container{
	background-color: white;
	box-shadow: 0 0 6px #ccc;
}

.cv-wrapper{
	margin: 35px 65px;
}

section{
	line-height: 25px;
	border-width: 90%;
	padding-bottom: 10px;
	margin: 0px 0 20px 0;
}

.row{
	margin: 3px 0;
	position: relative;
}

h1, h2, h3, p{
	padding:5px 0;
	margin: 1px 0;
}

h1, h2{
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 2px solid #000;
}


h1{
	text-transform: uppercase;
	font-size: 300%;
	padding-bottom:15px;
	padding-top: 18px;
}

h2{
	font-size: 135%;
	font-weight: bold;
}

h3{
	font-weight:bold;
}

div.info{
	padding: 0;
	margin-top: -5px;
	margin-bottom: -20px;
	text-align: center;
}

p.date{
	text-align: right;
}

ul{
	margin: -5px 0;
}
