<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="favicon.png" rel="shortcut icon" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale = 1" />
  <% for (key in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" />
  <% } %>
  <% if(htmlWebpackPlugin.options.environment === 'development') { %>
  <% for(key in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"></script>
  <% } %>
  <% } %>
</head>

<body>
  <div class="container">
    <header id="header">
      <h1 aria-label="Aki Gao's Resume">Aki Gao</h1>
      <h2 class='sr-only'>Contact Information</h2>
      <div id="info">
        (703) 901-0568 | aki.gao@user1st.com | iknowht.ml | github.com/iknowhtml
      </div>
    </header>
    <section id="profile">
      <h2>Profile</h2>
      <div class="section-container">
        <p>
          I am a Software Engineer passionate about creating software that positively impact people and society.
          I offer
          three years of professional experience in
          software development using the JavaScript ecosystem and functional programming paradigms in Agile (Scrum)
          environments, as well as
          accessibility best
          practices. My areas of professional interests include the web, distributed systems and scalable & performant
          software.
      </div>
    </section>
    <section id="skills">
      <h2>Skills</h2>
      <div class="section-container">
        <section>
          <h3>Languages:</h3>
          <span>JavaScript, Shell (Bash)</span>
        </section>
        <section>
          <h3>Development and Testing Tools:</h3>
          <span>Git, Yarn, Webpack, Babel, Jest, ESlint</span>
        </section>
        <section>
          <h3>UX/UI & Front End Technologies:</h3>
          <span>Figma, HTML, CSS, JQuery, React, Redux, Emotion</span>
        </section>
        <section>
          <h3>Accessibility Tools & Technologies:</h3>
          <span>JAWS, NVDA, VoiceOver, TalkBack, ARIA</span>
        </section>
        <section>
          <h3>Back End Technologies:</h3>
          <span>Node.js, Express, PostgreSQL</span>
        </section>
        <section>
          <h3>Back End Technologies:</h3>
          <span> CircleCI, Docker, Kubernetes, Google Cloud Platform</span>
        </section>
      </div>
    </section>
    <section id="work-experience">
      <h2>Work Experience</h2>
      <div class="section-container">
        <section>
          <span>
            <h3> User1st - <em>Solutions Integrator</em>, Washington, D.C.</h3>
            <time>January 2020 - Present</time>
          </span>
          <ul>
            <li>Remediates websites to comply with WCAG 2.1 AA standard
              and Section 508 guidelines for clients using User1st's uRemediate™ platform with CSS & JavaScript.
            </li>
            <li>Audits client websites and mobile applications for compliance with WCAG 2.1 accessibility standards.
            </li>
            <li>Create internal tooling to automate tasks & improve productivity including:
              <ul>
                <li>A command-line tool built with Node.js & Puppeteer to automate website URL discovery and
                  auto-generate web page screenshots to reduce inefficiencies with
                  client time estimation for websites.</li>
                <li>A cross-browser extension built with the WebExtension browser API to inject runtime
                  environment for client sites without neccessary uRemediate snippet installed to replace
                  unreliable and faulty tooling.</li>
              </ul>
            </li>
          </ul>
        </section>
        <section>
          <span>
            <h3>Alluminate - <em>Full Stack Developer</em>, Washington, D.C.</h3>
            <time>November 2017 - February 2018</time>
          </span>

          <ul>
            <li>Provided high-level technology expertise and development capabilities for in-house and consulting
              work
              ranging from UX/UI design to smart contract development.</li>
            <li>Designed and maintained the company's homepage as well as landing pages for several
              products.
            </li>
            <li>Designed and audited Ethereum smart contracts for ERC-721 compatibility and general correctness.
            </li>
          </ul>
        </section>
        <section>
          <span>
            <h3>Booz Allen Hamilton - <em>Technologist</em>, Herndon, VA</h3>
            <time>May 2017 - November 2017</time>
          </span>
          <ul>
            <li>Developed proof of concept Blockchain applications based on Ethereum for various government
              organizations,
              including the U.S. Treasury and the FDA.</li>
            <li>Worked across the stack from UX/UI design to implementation of front end and back end logic in React
              and Express respectively, as well as deployment to various cloud providers including AWS and
              Azure in
              an Agile environment.</li>
            <li>Translated requirements from the
              stakeholder, and convert requirements into tasks to be distributed among team members.</li>
            <li>Participation, expertise and leadership in projects led to conversion of one project from a proof of
              concept work into a full-fledged proposal for a contract bid.</li>
          </ul>
        </section>
      </div>
    </section>
    <section id="education">
      <h2>Education</h2>
      <div class="section-container">
        <span>
          <h3>The University of Virginia: School of Engineering and Applied Science (SEAS)</h3>
          <time>August 2016</time>
        </span>
        <ul>
          <li>B.S. Computer Engineering &amp; B.S. Electrical Engineering</li>
        </ul>
      </div>
    </section>
  </div>
</body>

</html>