<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="favicon.png" rel="shortcut icon" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale = 1" />
  <% for (key in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" />
  <% } %>
  <% if(htmlWebpackPlugin.options.environment === 'development') { %>
  <% for(key in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"></script>
  <% } %>
  <% } %>
</head>

<body>
  <div class="container">
    <header id="header">
      <h1>Aki Gao</h1>
      <div id="info" aria-label="Contact Information">
        (703) 901-0568 | aki.gao@user1st.com | iknowht.ml | github.com/iknowhtml
      </div>
    </header>
    <section id="profile">
      <h2>Profile</h2>
      <div class="section-container">
        <p>
          I am a Full Stack Engineer with a passion for technology and innovation, in particular the web and distributed
          software systems. I offer two years of professional experience in
          full stack development from
          conception
          to delivery of performant and maintainable solutions using functional
          programming paradigms in an Agile
          environment. My expertise range from designing and implementing responsive and
          user-friendly UX/UIs to
          scalable and fault-tolerant infrastructures. In particular, I specialize in
          full stack development using the React and Node.js ecosystems, as well as cloud-native and distributed
          architectures
          using Docker and Kubernetes.
        </p>
      </div>
    </section>
    <section id="skills">
      <h2>Skills</h2>
      <div class="section-container">
        <section>
          <h3>Languages:</h3>
          <span>JavaScript, Shell (Bash)</span>
        </section>
        <section>
          <h3>Development and Testing Tools:</h3>
          <span>Git, Yarn, Lerna, Webpack, Babel, Jest, ESlint</span>
        </section>
        <section>
          <h3>UX/UI and Front End Technologies:</h3>
          <span>Sketch, HTML, CSS, Emotion, JQuery, React, React Native, Storybook, Redux,
            Apollo Client</span>
        </section>
        <section>
          <h3>Back End and Database Technologies:</h3>
          <span>Node.js, Express, GraphQL, Apollo Server, PostgreSQL, Redis</span>
        </section>
        <section>
          <h3>DevOps Tools:</h3>
          <span>Helm, Skaffold, CircleCI</span>
        </section>
        <section>
          <h3>Infrastructure Technologies:</h3>
          <span>Docker, Kubernetes, Google Cloud Platform</span>
        </section>
      </div>
    </section>
    <section id="work-experience">
      <h2>Work Experience</h2>
      <div class="section-container">
        <section>
          <span>
            <h3> User1st - <em>Solutions Integrator</em>, Washington, D.C.</h3>
            <time>January 2020 - Present</time>
          </span>
          <ul>
            <li>Remediates websites for compliance with WCAG 2.1 AA standard
              and Section 508 guidelines for clients using User1st's uRemediate™ platform and custom scripts.
            </li>
          </ul>
        </section>
        <section>
          <span>
            <h3>Alluminate - <em>Full Stack Developer</em>, Washington, D.C. </h3>
            <time>November 2017 - February 2018</time>
          </span>

          <ul>
            <li>Provided high-level technology expertise and development capabilities for in-house and consulting work
              ranging from UX/UI to smart contract development.</li>
            <li>Designed and maintained the company's homepage as well as landing pages for several
              products.
            </li>
            <li>Designed and audited smart contracts for ERC-721 compatibility and general correctness for CryptoPets,
              an Ethereum-based game
              platform for collecting and battling digital pets.</li>
          </ul>
        </section>
        <section>
          <span>
            <h3>Booz Allen Hamilton - <em>Technologist, </em>Herndon, VA</h3>
            <time>May 2017 - November 2017</time>
          </span>
          <ul>
            <li>Developed proof of concept Blockchain applications based on Ethereum for various government
              organizations,
              including the U.S. Treasury and the FDA.</li>
            <li>Worked across the stack from UX/UI design to implementation of front end and back end logic in React
              and Express respectively, as well as deployment to various cloud providers including AWS and
              Azure in
              an Agile environment.</li>
            <li>Acted as defacto Product Owner and Scrum Master when necessary to translate requirements from the
              stakeholder, and convert requirements into tasks to be distributed among team members.</li>
            <li>Participation, expertise and leadership in projects led to conversion of one project from a proof of
              concept work into a full-fledged proposal for a contract bid.</li>
          </ul>
        </section>
      </div>
    </section>
    <section id="education">
      <h2>Education</h2>
      <div class="section-container">
        <span>
          <h3>The University of Virginia: School of Engineering and Applied Science (SEAS)</h3>
          <time>August 2016</time>
        </span>
        <ul>
          <li>B.S. Computer Engineering &amp; B.S. Electrical Engineering</li>
        </ul>
      </div>
    </section>
  </div>
</body>

</html>