<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link href="favicon.png" rel="shortcut icon" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale = 1" />
  <% for (key in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" />
  <% } %>
  <% if(htmlWebpackPlugin.options.environment === 'development') { %>
  <% for(key in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>"></script>
  <% } %>
  <% } %>
</head>

<body>
  <div class="container">
    <section id="header">
      <header>Aki Gao</header>
      <div id="info">
        xiaoyu.akihiro.gao@gmail.com | iknowht.ml | github.com/iknowhtml
      </div>
    </section>
    <section id="profile">
      <header>Profile</header>
      <main>
        <p>
          I am a Full Stack Developer with a passion for technology and
          innovation seeking an opportunity to reenter a career in Software Engineering.
          I offer experience in full stack web application development from conception
          to delivery of performant and maintainable solutions using functional
          programming paradigms and test driven development in an Agile
          environment. My expertise range from designing and implementing responsive and
          user-friendly UX/UIs to
          scalable and fault-tolerant event-driven microservice infrastructures. In particular, I specialize in
          web application
          development using the React and Node.js ecosystems, as well as cloud native and container-based architectures
          using Docker and Kubernetes.
        </p>
      </main>
    </section>
    <section id="skills">
      <header>Skills</header>
      <main>
        <section>
          <h3>Languages:</h3>
          <span>JavaScript, Shell (Bash)</span>
        </section>
        <section>
          <h3>Development and Testing Tools:</h3>
          <span>Git, Yarn, Lerna, Webpack, Babel, Jest, ESlint</span>
        </section>
        <section>
          <h3>UX/UI and Front End Technologies:</h3>
          <span>Sketch, HTML, CSS, PostCSS, React, Redux</span>
        </section>
        <section>
          <h3>Back End and Database Technologies:</h3>
          <span>Node.js, Express, GraphQL, MongoDB</span>
        </section>
        <section>
          <h3>DevOps Tools and Technologies:</h3>
          <span>Helm, Skaffold, CircleCI</span>
        </section>
        <section>
          <h3>Infrastructure Technologies:</h3>
          <span> Docker, Kubernetes, AWS, GCP</span>
        </section>
      </main>
    </section>
    <section id="work-experience">
      <header>Work Experience</header>
      <main>
        <section>
          <span>
            <h3>Alluminate - <em>Full Stack Blockchain Developer</em> </h3>
            <time>November 2017 - February 2018</time>
          </span>

          <ul>
            <li>Provided high-level technology expertise and development capabilities for in-house and consulting work
              ranging from UX/UI to smart contract development.</li>
            <li>Designed, developed and maintained the company's homepage as well as the landing page for several
              products.
            </li>
            <li>Core development member of the CryptoPets platform, an Ethereum-based game platform for collecting and
              battling digital pets developed in partnership with Arcade Distillery.</li>
            <li>Aided in smart contract design, as well as audited smart contracts for correctness.</li>
            <li>Developed in-house development and testing environment using Web3, Docker and Geth.</li>
          </ul>
        </section>
        <section>
          <span>
            <h3>Booz Allen Hamilton - <em>Technologist</em></h3>
            <time>May 2017 - November 2017</time>
          </span>
          <ul>
            <li>Developed proof of concept Blockchain applications based on Ethereum for various government
              organizations,
              including the U.S. Treasury and the FDA.</li>
            <li>Worked across the stack from UX/UI design to implementation of front end and back end logic in React
              and
              Node/Express respectively, as well as application deployment to various cloud providers including AWS and
              Azure in
              an Agile environment using Kanban.</li>
            <li>Acted as defacto Product Owner and Scrum Master when necessary to translate requirements from the
              stakeholder, and convert requirements into tasks to be distributed among team members.</li>
            <li>Participation, expertise and leadership in projects led to conversion of one project from a Proof of
              Concept work into a full-fledged proposal for a contract bid.</li>
          </ul>
        </section>
        <section>
          <span>
            <h3>Capital One - <em>Senior Associate</em></h3>
            <time>August 2016 - November 2016</time>
          </span>

          <ul>
            <li>Developed and maintained Automobile Loans and
              Home Loans features in Capital One's flagship Android banking application using Scrum-based development
              methodologies.
            </li>
          </ul>
        </section>
      </main>
    </section>
    <section id="education">
      <header>Education</header>
      <main>
        <span>
          <h3>The University of Virginia: School of Engineering and Applied Science (SEAS)</h3>
          <time>August 2016</time>
        </span>
        <ul>
          <li>Computer Engineering &amp; Electrical Engineering</li>
        </ul>
      </main>
    </section>
  </div>
</body>

</html>